.button{
    border-radius: 3px;
    border: rgb(58, 33, 33);
    background-color: #F4E2CB;
    color: rgb(58, 33, 33);
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    margin: 3px;
}

.button:hover {
    border: #F4E2CB;
    background-color: rgb(58, 33, 33);
    color: #F4E2CB;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    padding: 5px;
    top: 5px;
}
