.input {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: rgb(51, 21, 21);
    background-color: white;
    color: rgb(51, 21, 21);
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 600;
    
}

.button{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: rgb(51, 21, 21);
    background-color: #F4E2CB;
    color: rgb(51, 21, 21);
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 600;
}

.button:hover {
    border: #F4E2CB;
    background-color: rgb(58, 33, 33);
    color: #F4E2CB;
    cursor: pointer;
}
