.list {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    margin: 3px;
    padding: 1px;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    padding: 1px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: rgb(58, 33, 33);
    background-color: #F4E2CB;
    color: rgb(58, 33, 33);
    font-family: 'Noto Serif', serif;
}

.number:hover {
    border: #F4E2CB;
    background-color: rgb(58, 33, 33);
    color: #F4E2CB;
}
