.divCard {
    /* display: flow-root;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    border-radius: 15px;
    height:200px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* box-shadow: 0 4px 8px 0 rgba(250, 249, 249, 0.418), 0 6px 20px 0 rgba(248, 248, 248, 0.534); */
    background-color: rgba(45, 33, 33, 0.637);
    color: #f5efe8;
}

.divTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 110px;
} 

.divTitles {
    display: flex;
    justify-content: right;
    /* align-items: center; */
    position: relative;
    width: 120px;
    top: 5px;
    right: 10px;
    line-height: 120%;
    vertical-align: middle;
}

.divImg {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    position: relative;
    top: 20px;
    left: 10px;
}

.imgCard{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    object-fit: cover;
    /* bottom: 100px; */
    border-radius: 10px;
    height: 50px;
    width: 80px;
}

.imgCard:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 12px 0 black, 0 10px 20px 0 black;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0%;
}
