.conteiner {
    display: flex;
    justify-content: space-between;
}

.subConteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.title {
    font-size: clamp(2.5rem, 1rem + 10vw, 4rem);
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    color: #f5efe8;
    margin-bottom: 5%;
    font-weight: 550;
}

.btnStart {
    cursor: pointer;
    padding: 8px 25px;
    border-radius: 15px;
    border-color: #F4E2CB;
    color: rgb(51, 21, 21);
    z-index: 1;
    background: #F4E2CB;
    position: relative;
    font-weight: 1000;
    font-size: 18px;
}

.btnStart:hover {
    color: #F4E2CB;
    background: rgb(51, 21, 21);
    border-color: rgb(51, 21, 21);
    transform: scale(1.1);
}

.links {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
}

.linkedin {
    max-height: 30px;
    background-color: rgb(51, 21, 21);
    border-radius: 100%;
    padding: 8px;
}

.github {
    max-height: 30px;
    background-color: rgb(51, 21, 21);
    border-radius: 100%;
    padding: 8px;
    margin-left: 10px;
}

